<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Consulta</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Googol</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/indexar">Indexar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/indexarStories">Indexar Stories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pesquisar">Pesquisar</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" href="/consultar">Consultar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/info">Informações</a>
            </li>
        </ul>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="btn btn-outline-success my-2 my-sm-0" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>
<div class="d-flex justify-content-center align-items-center">
    <h1 class="text-center">Consulta</h1>
</div>
<div class="d-flex justify-content-center align-items-center">
    <h3 class="text-center">Aqui poderá pesquisar os links que mais desejar!</h3>
</div>
<div class="d-flex justify-content-center align-items-center">
    <h5 class="text-center">Procuraremos por si em que páginas o link inserido se encontra!!</h5>
</div>
<div th:if="${#httpServletRequest.getMethod() == 'GET'}">
    <form th:action="@{/consultar}" th:object="${pesquisa}" method="post">
        <div class="d-flex justify-content-center align-items-center">

            <input type="text" class="form-control" placeholder="" th:field="*{textoPesquisa}" style="width: 200px;" required>
            <button class="btn btn-primary" type="submit"><i class="fa fa-search fa-fw"></i>Search</button>

        </div>

    </form>
</div>
<div th:if="${#httpServletRequest.getMethod() == 'POST'}">
    <form th:action="@{/consultar}" th:object="${pesquisa}" method="post">
        <div class="d-flex justify-content-center align-items-center">

            <input type="text" class="form-control" placeholder="" th:field="*{textoPesquisa}" style="width: 200px;" required>
            <button class="btn btn-primary" type="submit"><i class="fa fa-search fa-fw"></i>Search</button>


        </div>
        <div th:if="${mensagem}" class="d-flex justify-content-center align-items-center">
            <p th:text="${mensagem}"></p>
        </div>

        <div>
            <div class="d-flex justify-content-center align-items-center" th:if="${urls}">
                <h5 class="text-center">Resultados da pesquisa</h5>
            </div>
            <table class="table" th:if="${urls}">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>URL</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="resultado, i : ${urls}">
                    <td th:text="${i.count}"></td>
                    <td th:text="${resultado}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </form>
</div>

</body>
</html>
