<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Indexar</title>

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Googol</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link active" href="/indexar">Indexar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/indexarStories">Indexar Stories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pesquisar">Pesquisar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/consultar">Consultar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/info">Informações</a>
            </li>
        </ul>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="btn btn-outline-success my-2 my-sm-0" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<body>
<div class="d-flex justify-content-center align-items-center">
    <h1 class="text-center">Indexar URL</h1>
</div>
<div class="d-flex justify-content-center align-items-center">
    <h3 class="text-center">Aqui poderá adicionar um URL que pretenda que o nosso motor de busca processe!</h3>
</div>

<div th:if="${#httpServletRequest.getMethod() == 'GET'}">
    <form th:action="@{/indexar}" th:object="${pesquisa}" method="post">
        <div class="d-flex justify-content-center align-items-center">
            <input type="text" class="text-center mr-2" th:field="*{textoPesquisa}" style="width: 200px;" required>
            <div class="input-group-append d-flex justify-content-center align-items-center">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search fa-fw"></i>Search</button>
            </div>
        </div>

    </form>
</div>
<div th:if="${#httpServletRequest.getMethod() == 'POST'}">
    <form th:action="@{/indexar}" th:object="${pesquisa}" method="post">
        <div class="d-flex justify-content-center align-items-center">
            <input type="text" class="text-center mr-2" th:field="*{textoPesquisa}" style="width: 200px;" required>
            <div class="input-group-append d-flex justify-content-center align-items-center">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search fa-fw"></i>Search</button>

            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <p th:if="${valor.equals('true')}">URL adicionado com sucesso!</p>
            <p th:if="${valor.equals('false')}">URL não foi adicionado...</p>
        </div>

    </form>
</div>

</body>
</html>