<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Consulta</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Googol</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/indexar">Indexar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pesquisar">Pesquisar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/consultar">Consultar</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" href="/info">Informações</a>
            </li>
        </ul>
    </div>
</nav>
<body>
<div class="d-flex justify-content-center align-items-center">
    <h1 class="text-center">Informação geral</h1>
</div>
<div class="d-flex justify-content-center align-items-center">
    <h3 class="text-center">Aqui poderá obter toda a informação sobre a nossa plataforma!</h3>
</div>
<div>
    <div>
        <div class="d-flex justify-content-center align-items-center">
            <h5 class="text-center">Downloaders</h5>
        </div>
        <div class="d-flex justify-content-center align-items-center" th:if="${!d}">
            <table class="table" th:if="${downloaders}">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">IP</th>
                    <th scope="col">Porto</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="downloader : ${downloaders}">
                    <td th:text="${downloader.id}"></td>
                    <td th:text="${downloader.ip}"></td>
                    <td th:text="${downloader.porto}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center align-items-center" th:if="${d}">
            <h5>Não existem quaisquer downloaders online de momento...</h5>
        </div>

        <div class="d-flex justify-content-center align-items-center" th:if="${!b}">
            <h5 class="text-center">Storage Barrels</h5>
        </div>
        <div class="d-flex justify-content-center align-items-center" th:if="${!b}">
            <table class="table" th:if="${barrels}">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">IP</th>
                    <th scope="col">Porto</th>
                    <th scope="col">Gama</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="barrel: ${barrels}">
                    <td th:text="${barrel.ip}"></td>
                    <td th:text="${barrel.porto}"></td>
                    <td th:text="${barrel.gama}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${b}">
            <h5 class="text-center">Não existem quaisquer storage barrels online de momento...</h5>
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <h5>Pesquisas frequentes</h5>
        </div>

        <div class="d-flex justify-content-center align-items-center" th:if="${!m}">
            <table class="table" th:if="${mapa}">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Pesquisa</th>
                    <th scope="col">Frequência</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="par : ${mapa}">
                    <td th:text="${par.getKey()}"></td>
                    <td th:text="${par.getValue()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${m}">
            <h5>Não existem quaisquer pesquisas de momento...</h5>
        </div>
    </div>
</div>
</body>
</html>
