<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Consulta</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Googol</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/indexar">Indexar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pesquisar">Pesquisar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/consultar">Consultar</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" href="/info">Informações</a>
            </li>
        </ul>
    </div>
</nav>
<body>
<h1>Informação geral</h1>
<div>
    <div>
        <div th:if="${!d}">
            <table th:if="${downloaders}">
                <thead>
                <tr>
                    <th>Downloaders</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="downloader : ${downloaders}">
                    <td th:text="${downloader.id}"></td>
                    <td th:text="${downloader.ip}"></td>
                    <td th:text="${downloader.porto}"></td>

                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${!b}">
            <table th:if="${barrels}">
                <thead>
                <tr>
                    <th>Barrels</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="barrel: ${barrels}">
                    <td th:text="${barrel.ip}"></td>
                    <td th:text="${barrel.porto}"></td>
                    <td th:text="${barrel.gama}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${!m}">
            <table th:if="${mapa}">
                <thead>
                <tr>
                    <th>Pesquisas frequentes</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="par : ${mapa}">
                    <td th:text="${par.getKey()}"></td>
                    <td th:text="${par.getValue()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
