<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Result</h2>
<div class="my-3">
    <p><strong>Username:</strong> <span th:text="${clienteInfo.username}"></span></p>
    <p><strong>Nome:</strong> <span th:text="${clienteInfo.nome}"></span></p>
    <p><strong>Email:</strong> <span th:text="${clienteInfo.email}"></span></p>
    <p><strong>Password:</strong> <span th:text="${clienteInfo.password}"></span></p>

</div>
<a th:href="@{/login}">Voltar</a>
</body>
</html>